[defaults]
inventory = ./inventory
timeout = 60

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o CheckHostIP=no -o UpdateHostKeys=no -o LogLevel=quiet -o ServerAliveInterval=10
