# this file is configured by ansible - do not update manually

auto lo
iface lo inet loopback

# Management NIC
allow-hotplug {{ primary_nic }}
iface {{ primary_nic }} inet dhcp

# Guest NIC
allow-hotplug {{ secondary_nic }}
iface {{ secondary_nic }} inet manual

# Guest Bridge
auto br0
iface br0 inet manual
    bridge-ports {{ secondary_nic }}
    bridge-stp off
    bridge-fd 0