#!/sbin/openrc-run

name=rustfs
command="/usr/local/bin/rustfs"
command_user="{{ svc_user }}:{{ svc_user }}" 
command_args="--access-key-file {{ home_dir }}/userid --secret-key-file {{ home_dir }}/secret {{ data_folder }}" 

pidfile="/run/$name.pid"
command_background="yes"

depend() {
        need net
        after firewall
}
