{
    "identities": [
        {
            "name": "me",
            "credentials": [
                {
                "accessKey": "{{ seaweed_key }}",
                "secretKey": "{{ seaweed_secret }}"
                }
            ],
            "actions": [
                "Read",
                "Write",
                "List",
                "Tagging",
                "Admin"
            ]
        }
    ]
}